.section-contact {
    padding: 5rem 8rem;
    margin-top: 10rem;
    background: rgb(224, 226, 235);
}

.contact {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(
            90deg,
            rgba(rgb(224,226,235), 0) 1%,
            rgba(rgb(224,226,235), 0.2) 20%,
            rgba(rgb(224,226,235), 0.4) 40%,
            rgba(rgb(224,226,235), 0.7) 50%,
            rgba(rgb(224,226,235), 0.8) 55%,
            rgba(rgb(224,226,235), 1) 100%,
            transparent 100%
        ),
        url(./contact.jpg);
    background-size: cover;
    background-position: 0%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.2);

    &__form {
        width: 50%;
        padding: 2rem;  
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__group:last-child {
        text-align: center;
        margin-top: 3rem;
    }

    &__input,
    &__message {
        font-family: inherit;
        color: black;
        padding: .5rem 1rem;
        border-radius: 2px;
        background-color: rgba(#fff, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 95%;
        display: block;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(#000, 0.1);
            border-bottom: 3px solid #55c57a;
        }

        &:focus:invalid {
            border-bottom: 3px solid red;
        }

        &::-webkit-input-placeholder {
            color: lightgrey;
        }
    }

    &__label {
        font-size: .8rem;
        font-weight: 700;
        margin-left: -20rem;
        margin-top: 0.3rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-.5rem);
    }

    &__button {
        text-transform: uppercase;
        padding: .5rem 2.5rem;
        font-size: .9rem;
        letter-spacing: 0.2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        background: rgb(224,226,235);
        color: #333;
        border: none;
        box-shadow: 0 1rem 2rem rgba(#000, 0.1);
        cursor: pointer;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(#000, 0.2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }

            &:active,
            &:focus {
                outline: none;
                transform: translateY(-1px);
                box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
            }
        }
    }
}
